<!-- <main class="form-signin w-100 m-auto"> -->
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">

    <h1 class="h3 mb-3 fw-normal">Üye Girişi</h1>

    <div class="form-floating">
      <input type="text" #userName="ngModel" [(ngModel)]="model.userName" class="form-control" id="userName" name="userName" placeholder="Kullanıcı Adı" required>
      <label for="inputEmail">Kullanıcı Adı</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Şifre" required #password="ngModel" [(ngModel)]="model.password" name="password">
      <label for="inputPassword">Password</label>
    </div>


    <button class="btn btn-primary w-100 py-2" type="submit">Giriş</button>

  </form>
<!-- </main> -->


